@charset "utf-8";


/* common ハンバーガーメニュCSS */

.go_top a{
    display: block
}

.go_top {
    position: absolute;
    right: 5%;
}

.navItem {
    display: flex;
    gap: 48px;
}

#about .inner {
    padding-top: 96px;
}

.toggle_btn span {
    background: #555;
}


/* animate アニメーション */

.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .3s, transform .5s;
}
         
.animate.slide-from-left {
  transform: translateX(-180px);
  animation-duration: 3s;
}
      
.animate.slide-from-right {
  transform: translateX(180px);
}
      
.animate.appear {
  opacity: 1;
  transform: none;
}
        
.animate.delay {
  transition-delay: .3s;
}

.animate.delay-more {
  transition-delay: .6s;
}

.animate.delay-more2 {
  transition-delay: .9s;
}

.animate.delay-more3 {
  transition-delay: 1.2s;
}

.animate.delay-more4 {
  transition-delay: 1.5s;
}

.animate.delay-more5 {
  transition-delay: 1.8s;
}

.animate.delay-more6 {
  transition-delay: 2.1s;
}

.animate.delay-more7 {
  transition-delay: 2.4s;
}

.animate.slide-from-left.delay {
  transition-delay: .3s;
}

.animate.slide-from-left.delay-more {
  transition-delay: .6s;
}

.animate.slide-from-left.delay-more2 {
  transition-delay: 1s;
}

.animate.slide-from-left.delay-more3 {
  transition-delay: 1.8s;
}

.animate.slide-from-left.delay-more4 {
  transition-delay: 2.1s;
}

.animate.slide-from-right.delay {
  transition-delay: .3s;
}
    
  .header_menu_pc ul li a {
    display: block;
    width: 100px;
    color: #333;
    text-shadow: 1px 1px #fff;
}
    
.header_wrapper .font1 {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    color: #555;
    text-shadow: 1px 1px #ccc;
  }

  .header_menu_pc li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 5%;
    margin: 0 auto;
    width: 70%;
    height: 2px;
    background:#666;
    box-shadow: 1px 1px #ddd;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

#about {
  background: rgba(244, 244, 244, 0.178);
  padding-bottom: 48px;
}

#about .font2 {
  margin: 0 0 24px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 12px;
  padding-top: 24px;
}

#about .font2 small {
  margin: 0 0 24px;
  font-weight: normal;
  font-size: 16px;
}

#about .font3 {
    text-align: center;
    padding-top: 28px;
}

.about_pic {
  width: 90%;
  height: auto;
  margin: 0 auto;
   
}

.about_pic img {
  width: 100%;
  object-fit: cover;
}

.about_desc {
  width: 80%;
  top: 30%;
  right: 0;
  margin: 0 auto;
}


.about_desc p {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  padding-top: 12px;
  line-height: 1.5;
  text-align: center;
}

.about_desc1 .font3 {
  color:rgb(136, 66, 33)
}

.about_desc2 .font3 {
  color:rgb(31, 116, 150)
}


/* medium screen */

@media(min-width:760px) {
  .about_desc1 p {
    text-align: left;
  }

  .about_desc2 .font3 {
    border-top: 1px solid #333;
  }

  .about_desc2 p {
    text-align: left;
  }

    .word_wrapper {
      position: relative;
    }

    #about .font2 {
      position: absolute;
      top: 10%;
      left: 4%;
    }

    .about_desc1 {
        padding-bottom: 24px;
    }

   .about_wrapper {
      display: flex;
      width: 90%;
      margin: 0 auto;
      gap:36px;
      align-items: center;
      padding-top: 24px;
   }

   .about_pic {
      width: 100%;
   }

   .about_pic img {
      height: 250px;

   }

   .about_all .inner {
       position: relative;
   }

   .about_desc1 .font3 {
      font-size: 32px;
      padding: 0;
   }

}

/* large screen */
@media(min-width: 1024px) {

    #about .font2 {
        position: absolute;
        top: 20%;
        left: -8%;
    }
   

    #about .font2 {
        margin: 0;
        margin-left: 140px;
        padding-bottom: 32px;
    }

    .about_pic img {
        height: 350px;
    }

    #about .inner {
        padding-bottom: 48px;
    }

    
    .about_desc1 .font3,
    .about_desc2 .font3 {
        font-size: 24px;
    }

    .about_desc1 p,
    .about_desc2 p {
      font-size: 16px;
      line-height: 1.8;
    }

}


@media(min-width: 1240px) {

    .about_wrapper {
      padding-top: 60px;
    }

     #about .font2 {
      font-size: 28px;
      position: absolute;
      left: -5%;
    } 
}